.content .searchbar{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.content .searchbar input[type='text'] {
    width: 50%;
    padding: 2% 4%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
}

.content .searchbar input[type="submit"]{
    /* margin-left: 5%; */
    /* margin-top: 40px; */
    border: none; 
    background: DarkOrange;
    color: white;
    cursor: pointer; 
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
    padding: 2% 4%;
    border-radius: 14px;
    transition: 0.25s;
    font-family: Arial, Helvetica, sans-serif;
}

.content .sdtable table { 
    margin-top: 5%;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid DarkOrange;
    border-radius: 10px;
    border-spacing: 0;
}

.content .sdtable table td {
    border-bottom: 1px solid DarkOrange;
    padding: 1.5% 2.5%;
    
} 
.content .sdtable table th { 
    border-bottom: 1px solid DarkOrange;
    padding: 2% 4%;
    background-color: #CA4549;
    color: white;
}
.content .sdtable table tr:last-child > td {
    border-bottom: none;
}

.content .sdtable table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.content .sdtable table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.content .sdtable table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.content .sdtable table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.content .sdtable table tr:nth-child(even){
    background-color: #FFF4EF;
}

.content .sdtable table input[type="submit"] {
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    padding: 2% 4%;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 8px;
}