.donor-container {
    display: grid;
    grid-template-columns: 1fr 0.25fr 2.75fr;
    grid-template-rows: 1;
    gap: 15px;
    margin: 3%;
}

.donor-container .sidebar {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1d4d4;
    min-height: 72vh;
    border-radius: 25px;
    box-shadow: 0 0px 20px rgba(22, 42, 107, 0.4);
}

.sbdico{
    font-size: 1.4rem;
}

.donor-container .sidebar .row {
    padding: 12px 5%;
    color: black;
    display: block;
    font-size: 1.2rem;
}

.donor-container .sidebar .button-row {
    padding: 12px 5%;
    background-color: #f1d4d4;
    color: black;
    display: block;
    position: relative;
    top: 10%;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.donor-container .sidebar .row:hover, .donor-container .sidebar .button-row:hover{
    font-weight: bold;
    background-color: #8A0303;
    color: white;
}

.donor-container .content {
    grid-row: 1;
    grid-column: 3;
    text-align: left;
    word-wrap: break-word;
    margin-left: 2%;
}

.donor-container .content p {
    color: #8A0303;
    font-size: 1.5rem;
}

.donor-container .content li {
    font-size: 1.2rem;
    padding: 0.5%;
}

.donor-container .sidebar .row.active {
    background-color: #8A0303;
    color: white;
}