@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

.register h1{
    margin-top: 3%;
}

.login-container {
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
    flex-direction: row;
}

.login-card {
    display: flex;
    justify-content: space-evenly;
    background: white;
    align-items: left;
    flex-direction: column;
    border-radius: 25px;
    width: 30%;
    min-height: 340px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    font-size: 1.2rem;
    padding: 2.5%;
    margin-bottom: 2%;
    text-align: left;
    font-family: 'Hahmlet', serif;
    background: linear-gradient(45deg,lightgray 7%,white 7%, white 93%, lightgray 93%);
}

.login-card label { 
    cursor: pointer; 
    display: inline-block; 
    padding: 3px 10px;
    margin: 8px 0; 
    width: 30%; 
    font-size: 1rem;
}

.login-card input {
    font-size: 0.96rem; 
    border: 1px solid #ccc;
    padding: 3px 6px; 
    margin: 8px 0;
    border-radius: 5px;
}

.button-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.login-card input[type="submit"]{
    margin-top: 40px;
    border: none; 
    background: #237215; 
    color: white;
    cursor: pointer; 
    font-size: 0.96rem;
    font-weight: bold;
    outline: none;
    padding: 2% 4%;
    border-radius: 24px;
    transition: 0.25s;
    font-family: Arial, Helvetica, sans-serif;
}

.login-card input[type="reset"]{
    margin-top: 40px;
    border: none; 
    background: brown;
    color: white;
    cursor: pointer; 
    font-size: 0.96rem;
    font-weight: bold;
    outline: none;
    padding: 2% 4%;
    border-radius: 24px;
    transition: 0.25s;
    font-family: Arial, Helvetica, sans-serif;
}

.radio-buttons label {
    padding: 1px 10px;
    margin: 4px 0; 
}
.radio-buttons input {
    margin-left: 5%; 
}