.login h1{
    margin-top: 3%;
}
.login-container {
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
    flex-direction: row;
}

.login-card {
    display: flex;
    justify-content: space-evenly;
    background: white;
    align-items: left;
    flex-direction: column;
    border-radius: 25px;
    width: 30%;
    height: 100%;
    min-height: 340px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding: 2.5%;
    margin-bottom: 2%;
    text-align: left;
}

.login-card label{
    position: relative;
    left: 10%;
    width: 200px;
}

.login-card input[type="text"]{
    position: absolute;
    padding: 4px 8px;
    left: 80%;
    width: 150px;
    height: 15px;
    font-size: large;
    border: 2px solid lightgray;
    transform: translate(45%);
    border-radius: 5px;
}

.login-card input[type="password"]{
    position: absolute;
    padding: 4px 8px;
    left: 80%;
    width: 150px;
    height: 15px;
    font-size: large;
    border: 2px solid lightgray;
    transform: translate(48%);
    border-radius: 5px;
}

.login-card .radio{
    font-size: 1.2rem;
    padding: 1.5%;
}

.login-card input[type="radio"]{
    position: relative;
    left: 10%;
}

.login-card input[type="submit"]{
    border: 2px solid #53c73e;
    outline: none;
    background: #53c73e;
    position: relative;
    bottom: 3%;
    margin: 1%;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: whitesmoke;  
    cursor: pointer;
    padding: 2% 4%;
    border-radius: 24px;
    transition: 0.25s;
    transform: translate(20%, 100%);
}

.login-card input[type="reset"]{
    border: 2px solid red;
    outline: none;
    background: red;
    position: relative;
    bottom: 3%;
    left: 45%;
    margin: 1%;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: whitesmoke;  
    cursor: pointer;
    padding: 2% 4%;
    border-radius: 24px;
    transition: 0.25s;
    transform: translate(20%, 100%);
}
